<!-- nav.html -->

<!doctype HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/nav.css">
<link rel="stylesheet" type="text/css" href="../css/userpage.css">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="navbar navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="index.html">UniToken</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
	  		</button>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul id ="myTab" class="navbar-nav mr-auto">
		 		<li class="nav-item active">
					<a class="nav-link" href="marketplace.html">Marketplace <span class="sr-only">(current)</span></a>
		  		</li>
		 		 <li class="nav-item">
					<a class="nav-link" href="#">Profile</a>
		  		</li>
		 		<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  			Dropdown
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
		 		</li>
			</ul>
		<form class="form-inline my-2 my-lg-0">
		  	<input method="post" class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Username">
		  	<input method="post" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
		  	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
		</form>
	</div>
  </div>
</div>
	<div class="container">
		<div id="profile">	
			<div class="row align-items-center justify-content-center">
				<div class="profile-picture">
					<img src="/css/img/profile.jpeg" class="rounded-circle border" width="300" height="300">
				</div>
			</div>
			<div class="row align-items-center justify-content-center">
				<div class="user-type">
					<span class="badge badge-primary">User</span>
				</div>
			</div>
			<div class="row align-items-center justify-content-center">
				<div class="space">
				<ul id = "myTab" class="nav nav-pills" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" href="#1a" data-toggle="pill">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#2a" data-toggle="pill">Notifications</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#3a" data-toggle="pill">Wallet</a>
					</li>
				</ul>
				</div>
			</div>
			<div class = "tab-content">
				<div class="tab-pane active" id="1a" role="tabpanel">
					<div class="profile-info">	
						<div class="row align-items-center justify-content-center">
						<h3>This is your profile page</h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope = "col"></th>
										<th scope=  "col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">First Name:</th>
										<td><%= firstName %></td>
									</tr>
									<tr>
										<th scope="row">Last Name: </th>
										<td><%= lastName %></td>
									</tr>
									<tr>
										<th scope="row">Email: </th>
										<td><%= email %></td>
									</tr>
									<tr>
										<th scope="row">Birthday: </th>
										<td><%= month %>, <%= day%>, <%= year%></td>
									</tr>
									<tr>
										<th scope="row">University: </th>
										<td><%= university %></td>
									</tr>
									<tr>
										<th scope="row">Country: </th>
										<td><%= country %></td>
									</tr>
									<tr>
										<th scope="row">State: </th>
										<td><%= state %></td>
									</tr>
								</tbody>
							</table>
							<a class="btn btn-large btn-info" href="/resetpassword">Reset Password</a>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="2a" role="tabpanel">
					<div id="notifications">
						<div class="row align-items-center justify-content-center">
							<h3>No new Notifications</h3>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="3a" role="tabpanel">
					<div id="wallet">
						<div class="row align-items-center justify-content-center">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope = "col"></th>
										<th scope=  "col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">Ethereum Balance:</th>
										<td id = "eth">Balance</td>
									</tr>
									<tr>
										<th scope="row">UniToken Balance: </th>
										<td id = "unit">Tokens</td>
									</tr>
								</tbody>
							</table>
							<div class="grid">
								<div class="row align-items-center justify-content-center">
									<h3 id="cost"></h3>
								</div>
								<div class="row align-items-center justify-content-center">
									<div class="input-group">
  										<span class="input-group-addon">Enter Amount</span>
  										<input type="text" id ="buy" class="form-control" aria-label="ETH amount">
  										<span class="input-group-addon">ETH</span>
									</div>
									<button class="btn btn-large btn-info" id="buy" onClick="buyToken();">Buy UniToken</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	//abi for contract functions
	 var abi = 
[{"constant":false,"inputs":[{"name":"newSellPrice","type":"uint256"},{"name":"newBuyPrice","type":"uint256"}],"name":"setPrices","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"name","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"}],"name":"approve","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"totalSupply","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transferFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"decimals","outputs":[{"name":"","type":"uint8"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_value","type":"uint256"}],"name":"burn","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"sellPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"balanceOf","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"mintedAmount","type":"uint256"}],"name":"mintToken","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_value","type":"uint256"}],"name":"burnFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"tokensIssued","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"buyPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"owner","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"buyCounter","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"symbol","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"buy","outputs":[],"payable":true,"stateMutability":"payable","type":"function"},{"constant":false,"inputs":[{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transfer","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"frozenAccount","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"weiCounter","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"},{"name":"_extraData","type":"bytes"}],"name":"approveAndCall","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"},{"name":"","type":"address"}],"name":"allowance","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"freeze","type":"bool"}],"name":"freezeAccount","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"newOwner","type":"address"}],"name":"transferOwnership","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"inputs":[],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":false,"name":"target","type":"address"},{"indexed":false,"name":"frozen","type":"bool"}],"name":"FrozenFunds","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Transfer","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Burn","type":"event"}];

//Checks if user has MetaMask
if(typeof web3 !== 'undefined') {
    web3 = new Web3(window.web3.currentProvider);
    console.log("works");
}
//If No MetaMask, use other provider
else {
    web3 = new Web3(new Web3.providers.HttpProvider('https://ropsten.infura.io/9gdpi5KIUTmyFFZjNk9L'));
    console.log("MetaMask is null");
}
		//Getting Contracted details
        var contract = web3.eth.contract(abi);
        contractinstance = contract.at('0x6aCD187F04B7fBEBA31e0A534D30e918D9144638');
        console.log(contractinstance);
        //Calling variables from smart contract asynchronously
        
        contractinstance.buyPrice(function(error, result) {
                    var _buyPrice = result.c[0];
                    document.getElementById("cost").innerHTML = "1 ETH = " + _buyPrice + " UNITs";
          });
          var account = web3.eth.accounts[0];
          var accountInterval = setInterval(function() {
          	if (web3.eth.accounts[0] !== account) {
    			account = web3.eth.accounts[0];
    		}
    		web3.eth.getBalance(account, function(err, balance) {
    			document.getElementById("eth").innerHTML = web3.fromWei(balance.toNumber(), "ether") + " ETH";
    		});
    		contractinstance.balanceOf(account, function(err, balance) {
    			document.getElementById("unit").innerHTML = (balance.toNumber() / 1000000000000000000) + " UNIT";
    		});
    	  }, 100);

           function buyToken() {
          		var amount = document.getElementById("buy").value;
          		console.log(amount);
          		console.log(contractinstance);
     			var num = parseFloat(amount).toFixed(18);
     			console.log(num);
    	  		if(!isNaN(amount)) {
    	  			total = 1000000000000000000 * num;
    	  			console.log(total);
					contractinstance.buy({from: web3.eth.accounts[0], gas: 3000000, value: total}, function(err, res){
						if (err.message.indexOf("User denied") != -1) {
                       		console.log("You rejected the transaction on Metamask!");
                		 } 
					});
    	  		} 
           }
	</script>
</body>
</html>